[Desktop Entry]
Name=To Do List
Comment=To Do List application
Exec=todolistapp
Icon=${SNAP}/meta/gui/todo-list.png
Terminal=false
Type=Application
Categories=Education;